.gradient-background {
  background: linear-gradient(300deg, #ff4f4fd2, #ffffffec, #67fab3);
  background-size: 180% 180%;
  animation: gradient-animation 18s ease infinite;
}

@keyframes gradient-animation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.feature-icon-small {
  width: 3rem;
  height: 3rem;
}

.foto-profil {
  opacity: 0.6;
  height: 300px;
}
.foto-awal {
  height: 100vh;
  width: 100vh;
}

.portfolio-pic {
  border-radius: 5px;
}

.col-lg-6 {
  flex: 0 0 auto;
  width: 50%;
}
.section-title {
  text-align: center;
  padding-bottom: 30px;
}

.section-title h2 {
  font-size: 32px;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 20px;
  padding-bottom: 20px;
  position: relative;
  color: #ffffff;
}
.section-title h2::before {
  content: "";
  position: absolute;
  display: block;
  width: 120px;
  height: 1px;
  background: #ddd;
  bottom: 1px;
  left: calc(50% - 60px);
}
.section-title h2::after {
  content: "";
  position: absolute;
  display: block;
  width: 40px;
  height: 3px;
  background: #0563bb;
  bottom: 0;
  left: calc(50% - 20px);
}

#about {
  height: 100vh;
}
